{{#if addNewCategory}}
  <h1>New Rental</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Category Name</label>
        {{input value=name id="name"}}
      </div>
      <button {{action 'saveCategory1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'categoryFormShow'}}>New Category</button>
{{/if}}
