<nav>
  {{#link-to 'index'}}<img src="../img/logo.png" alt="logo" />{{/link-to}}
  <ul>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
  </ul>
</nav>
<header>
  <h1>Craigslist!</h1>
</header>
{{outlet}}
